@font-face {
  font-family: Music;
  src: url(FreeSerifMusic.woff);
}

.wrapper {
  width: 850px;
  margin: 0 auto;
}

.staff {
  margin-top: 0.5em;
  position: relative;
  font-family: Music, serif;
  font-size: 5em;
}

.clef {
  position: absolute;
  top: 0;
}

.staff .note {
  position: absolute;
  cursor: pointer;
  width: 0.3em;
}

.staff .note:before {
  content: 'ð…Ÿ ';
}

.staff .note.active {
  color: red;
}

.notes, .playing {
  font-size: 2em;
  text-align: center;
}

.notes {
  margin-top: 1em;
}

.playing {
  margin-top: 0.5em;
}

.notes > span {
  cursor: pointer;
}
